<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title><%= locals.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/main--website.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/servic.css">
    <link rel="stylesheet" href="/css/card.css">
    <!-- Font Awesome CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Demo CSS (No need to include it into your project) -->

</head>

<body>
<!-- header -->
<%- include('../partials/main_header.ejs') %>
<%- include('../partials/flash.ejs') %>
<%- body %>



<%- include('../partials/footer.ejs') %>

</body>
<!-- Script JS -->
<script src="/js/main.js"></script>
<script src="/js/navbar.js"></script>

</html>