<% layout('layouts/main_website')%>
<div class="main" id="attraction">
    <h1>Lets explore</h1>
    <ul class="cards">
    <% attractions.forEach(element => { %>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <% if(element.image) { %>
            <img src="<%= element.image.split('public')[1] %>">
            <% } %>
        </div>
          <div class="card_content">
            <h2 class="card_title"><%= element.Title %></h2>
            <p class="card_text"><%= element.details %></p>
            <button class="btn card_btn"><a href="/attraction/<%= element._id %>">Book</a> </button>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
  <% if (attractions.length > 0) { %>
    <div aria-label="Dashboard Pagination">
      <ul class="pagination justify-content-center mt-5">
  
        <% if (current == 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
        <% } else { %>
          <li class="page-item"><a href="/attractions/?page=1" class="page-link">First</a></li>
        <% } %>
  
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if(i !== 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
        <% } %>
  
        <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %>
          <% if (i == current) { %>
            <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
          <% } else { %>
            <li class="page-item"><a href="/attractions/?page=<%= i %>" class="page-link"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
          <% } %>
        <% } %>
  
        <% if (current == pages) { %>
          <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
        <% } else { %>
          <li class="page-item"><a href="/attractions/?page=<%= pages %>" class="page-link">Last</a></li>
        <% } %>
  
      </ul>
    </nav>
  <% } %>